@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.hide {
  display: none;
}

body {
  padding: 2rem;
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  /* background: linear-gradient(to right,#e410d6,#e410d6,#e752d3);  */
}

h1 {
  text-align: center;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  color: red;
}

.footer {
  text-align: right;
  font-family: "Pacifico", cursive;
  font-weight: 100;
  font-style: normal;
  color: red;
  font-size: 15px;
}

.header-img {
  display: flex;
  width: 100%;
  max-width: 600px;
  margin-inline: auto;
  filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.2));
}

.container {
  flex: 1;
  position: relative;
  isolation: isolate;
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
}

.image-1,
.image-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-1 {
  width: 175px;
}

.image-2 {
  width: 250px;
}

.btn {
  position: absolute;
  top: calc(100% - 5rem);
  min-width: 120px;
  padding: 0.75rem 1rem;
  font-size: 1.25rem;
  outline: none;
  border: none;
  background-color: #f8fafc;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  /* border-color: #c5458bd7; */
  box-shadow: 5px 5px 10px #c5458bd7;
}

.btn-yes {
  left: 50%;
  transform: translateX(calc(-100% - 1rem));
  z-index: 1;
}

.btn-no {
  left: calc(50% + 1rem);
  transition: all 0.5s ease;
  z-index: 2;
}


canvas#confetti {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
  pointer-events: none;
}



span {
  background: url("https://cdn4.iconfinder.com/data/icons/small-n-flat/24/heart-512.png");
  width: 100px;
  height: 100px;
  position: absolute;
  background-size: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: heartAnimation 6s linear;
  pointer-events: none;
}

@keyframes heartAnimation {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
    filter: hue-rotate(0);
  }

  100% {
    transform: translate(-50%, -5000%);
    opacity: 0;
    filter: hue-rotate(720deg);
  }
}